body {
	font-family: sans-serif;
	background-color: #F6F6F6;
	padding: 42px;
	color: #222;
	line-height: 1.5;
}

a, a:visited {
	color: #03A;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
